/*-----------------SECTION-MIXINS--------------------*/
/*------------------------SECTION-FONTS----------------*/
@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/subset-Exo2-SemiBold.woff2") format("woff2"), url("../fonts/subset-Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/subset-Exo2-Medium.woff2") format("woff2"), url("../fonts/subset-Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/subset-Exo2-Bold.woff2") format("woff2"), url("../fonts/subset-Exo2-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/subset-Exo2-ExtraBold.woff2") format("woff2"), url("../fonts/subset-Exo2-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/subset-Exo2-BoldItalic.woff2") format("woff2"), url("../fonts/subset-Exo2-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/subset-Exo2-Regular.woff2") format("woff2"), url("../fonts/subset-Exo2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*------------------------SECTION-SMART-GRID----------------*/
/*------------------------SECTION-ADJUSTMENT----------------*/
input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "Exo 2", Arial, sans-serif;
  line-height: 1.42;
  color: #646464;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  max-width: 1750px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 1749.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1199.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 991.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 575.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.content ul {
  margin: 1em 0;
  padding-left: 40px;
}

.content ul li {
  list-style: disc;
}

.content h1 {
  margin: 0.67em 0;
}

.content h2 {
  margin: 0.83em 0;
}

.content h3 {
  margin: 1em 0;
}

.content h4 {
  margin: 1.33em 0;
}

.content h5 {
  margin: 1.67em 0;
}

.content h5 {
  margin: 2.33em 0;
}

.content p {
  margin: 1em 0;
}

img {
  max-width: 100%;
}

button {
  background: none;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*-----------------SECTION-HOVER-ANIM--------------------*/
/*------------------------SECTION-COMMON----------------*/
.accept {
  width: 260px;
  margin-bottom: 55px;
}

.accept__check {
  display: none;
}

.accept__check:checked + .accept__label .accept__fake:after {
  display: block;
}

.accept__left {
  margin-right: 9px;
}

.accept__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999999;
  line-height: 20px;
}

.accept__fake {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #4ecdc4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.accept__fake:after {
  display: none;
  content: '';
  width: 10px;
  height: 7px;
  margin-bottom: 4px;
  border-bottom: 1px solid #4ecdc4;
  border-left: 1px solid #4ecdc4;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*------------------------SECTION-HEADER----------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  margin-right: 78px;
  line-height: 1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-top: 12px;
}

.nav__item {
  color: #ffffff;
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

/*-----------------SECTION-MENU--------------------*/
.menu {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 17px;
}

.menu__item {
  display: block;
  margin-bottom: 55px;
}

.menu__item:last-child {
  margin-bottom: 0;
}

.hmenu {
  position: fixed;
  z-index: 100;
  left: -999px;
  top: 0;
  bottom: 0;
  width: 480px;
  background-color: #052826;
  padding: 97px 55px 55px 100px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.hmenu.active {
  left: 0;
}

.hmenu__close {
  margin-bottom: 38px;
}

.hmenu__hr {
  border: none;
  margin: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 50px;
}

.hmenu__item {
  display: block;
  position: relative;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding-right: 50px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.hmenu__item.active, .hmenu__item:hover {
  color: #4ecdc4;
}

.hmenu__item.active:after, .hmenu__item:hover:after {
  opacity: 1;
}

.hmenu__item:after {
  content: url(/images/icons/hmenu-arrow.png);
  display: block;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.hmenu__item:last-child {
  margin-bottom: 0;
}

/*-----------------SECTION-CONTROLS--------------------*/
.controls {
  position: absolute;
  z-index: 20;
  right: 0;
  top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls__item {
  margin-right: 74px;
}

.controls__item:last-child {
  margin-right: 0;
}

/*-----------------SECTION-CALLORDER--------------------*/
.callorder {
  position: fixed;
  z-index: 100;
  right: -999px;
  top: 0;
  bottom: 0;
  width: 480px;
  background-color: #052826;
  padding: 100px 75px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.callorder.active {
  right: 0;
}

.callorder__controls {
  position: relative;
  margin-bottom: 25px;
}

.callorder__controls .controls {
  position: static;
}

.callorder__hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  margin: 0;
  margin-bottom: 22px;
}

.callorder__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 55px;
}

.callorder__contacts-text {
  color: #999999;
  font-weight: 700;
}

.callorder__phone {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.callorder__questions {
  margin-bottom: 30px;
}

.callorder__questions-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.callorder__questions-text {
  color: #cccccc;
  line-height: 24px;
  margin-bottom: 25px;
}

.callorder__questions-text:last-child {
  margin-bottom: 0;
}

.callorder__fields {
  margin-bottom: 25px;
}

.callorder__input {
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding: 8px 15px;
  width: 100%;
  margin-bottom: 30px;
  color: #4ecdc4;
}

.callorder__input::-webkit-input-placeholder {
  color: #4ecdc4;
}

.callorder__input:-ms-input-placeholder {
  color: #4ecdc4;
}

.callorder__input::-ms-input-placeholder {
  color: #4ecdc4;
}

.callorder__input::placeholder {
  color: #4ecdc4;
}

.callorder__input:last-child {
  margin-bottom: 0;
}

.callorder__submit {
  text-align: right;
}

.callorder__submit-button {
  color: #4ecdc4;
  font-size: 20px;
  font-weight: 700;
}

.callorder__submit-button:after {
  content: url(/images/icons/hmenu-arrow.png);
  display: inline-block;
  margin-left: 10px;
}

/*-----------------SECTION-MAIN--------------------*/
.main {
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  min-height: auto;
  overflow: hidden;
  position: relative;
  display: block;
  padding: 88px 0 100px 0;
}

.main .container {
  height: 100%;
}

.main__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 20;
}

.main__filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.main__filter-left {
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}

.main__filter-right {
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__title {
  color: #ffffff;
  font-size: 74px;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  margin-bottom: 10px;
}

.main__subtitle {
  color: #4ecdc4;
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 25px;
}

.main__hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.main__hr-line {
  width: 120px;
  height: 3px;
  background-color: #ffffff;
  margin-right: 13px;
}

.main__hr-point {
  width: 3px;
  height: 3px;
  background-color: #ffffff;
}

.main__list {
  position: relative;
}

.main__slide-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main__slide-text {
  color: #cccccc;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.main__prev, .main__next {
  position: absolute;
  top: 0;
  cursor: pointer;
}

.main__prev {
  left: 0;
}

.main__next {
  right: 0;
}

.main .footer {
  padding-left: 180px;
}

/*------------------------SECTION-FOOTER---------------------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.subscription, .privacy {
  color: #cccccc;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 8.6px;
}

/*-----------------SECTION-SOCIALS--------------------*/
.socials {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
}

.socials__item {
  display: block;
  margin-bottom: 45px;
}

.socials__item:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=main.css.map */