//variables
//fonts
$font: 'Exo 2', Arial, sans-serif;

//colors
$White: #fefefe;
$Ash-grey: #b7b7b7;
$bg: #ffffff;
$Dark-jungle-green: #222222;
$Taupe: #333333;
$Taupe-gray: #888888;
$Pastel-gray: #cccccc;
$Manatee: #999999;
$Black: #000000;
$Medium-turquoise: #4ecdc4;
$Dark-gray: #adadad;
$Dim-gray: #707070;
$Dark-gray2: #aeaeae;
$Dark-green: #052826;
$Verdigris: #45b9b9;
$Snow: #fafafa;
$Manatee2: #959595;
$Old-lace: #fdf4e3;
$text: #646464;

//another
$font-size: 16px;

//layout
/*-----------------SECTION-MIXINS--------------------*/
@import "layout/_mixins";
/*------------------------SECTION-FONTS----------------*/
@import "layout/_fonts";
/*------------------------SECTION-SMART-GRID----------------*/
@import "layout/_smart-grid";
/*------------------------SECTION-ADJUSTMENT----------------*/
@import "layout/_adjustment";
/*-----------------SECTION-HOVER-ANIM--------------------*/
@import "layout/_hover-anim";
/*-----------------SECTION-SPRITE-CONTROLS--------------------*/
@import "layout/_sprite-controls";
/*------------------------SECTION-COMMON----------------*/
@import "layout/_common";

//sections
/*------------------------SECTION-HEADER----------------*/
@import "sections/_header";
/*-----------------SECTION-SWIPER--------------------*/
@import "sections/_swiper";
/*-----------------SECTION-BREADCRUMBS--------------------*/
@import "sections/_breadcrumbs";
/*-----------------SECTION-MENU--------------------*/
@import "sections/_menu";
/*-----------------SECTION-CONTROLS--------------------*/
@import "sections/_controls";
/*-----------------SECTION-CALLORDER--------------------*/
@import "sections/_callorder";
/*-----------------SECTION-MAIN--------------------*/
@import "sections/_main";
/*-----------------SECTION-CATALOG--------------------*/
@import "sections/_catalog";
/*-----------------SECTION-CONSTRUCTOR--------------------*/
@import "sections/_constructor";
/*-----------------SECTION-CONTACTS--------------------*/
@import "sections/_contacts";
/*-----------------SECTION-PRODUCTS--------------------*/
@import "sections/_products";
/*-----------------SECTION-MANUFACTURERS--------------------*/
@import "sections/_manufacturers";
/*-----------------SECTION-MANUFACTURER--------------------*/
@import "sections/_manufacturer";
/*-----------------SECTION-INGREDIENTS--------------------*/
@import "sections/_ingredients";
/*-----------------SECTION-PRODUCT--------------------*/
@import "sections/_product";
/*-----------------SECTION-CAREER--------------------*/
@import "sections/_career";
/*-----------------SECTION-NEWS--------------------*/
@import "sections/_news";
/*-----------------SECTION-ABOUT--------------------*/
@import "sections/_about";
/*-----------------SECTION-REVIEWS--------------------*/
@import "sections/_reviews";
/*-----------------SECTION-FACES--------------------*/
@import "sections/_faces";
/*-----------------SECTION-CABINET--------------------*/
@import "sections/_cabinet";
/*------------------------SECTION-FOOTER---------------------*/
@import "sections/_footer";
/*-----------------SECTION-SOCIALS--------------------*/
@import "sections/_socials";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}