/*-----------------SECTION-MIXINS--------------------*/
/*------------------------SECTION-FONTS----------------*/
@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/subset-Exo2-SemiBold.woff2") format("woff2"), url("../fonts/subset-Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/subset-Exo2-Medium.woff2") format("woff2"), url("../fonts/subset-Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/subset-Exo2-Bold.woff2") format("woff2"), url("../fonts/subset-Exo2-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/subset-Exo2-ExtraBold.woff2") format("woff2"), url("../fonts/subset-Exo2-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/subset-Exo2-BoldItalic.woff2") format("woff2"), url("../fonts/subset-Exo2-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/subset-Exo2-Regular.woff2") format("woff2"), url("../fonts/subset-Exo2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*------------------------SECTION-SMART-GRID----------------*/
/*------------------------SECTION-ADJUSTMENT----------------*/
input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "Exo 2", Arial, sans-serif;
  line-height: 1.42;
  color: #646464;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  max-width: 1750px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 1749.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1199.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 991.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 575.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.content ul {
  margin: 1em 0;
  padding-left: 40px;
}

.content ul li {
  list-style: disc;
}

.content h1 {
  margin: 0.67em 0;
}

.content h2 {
  margin: 0.83em 0;
}

.content h3 {
  margin: 1em 0;
}

.content h4 {
  margin: 1.33em 0;
}

.content h5 {
  margin: 1.67em 0;
}

.content h5 {
  margin: 2.33em 0;
}

.content p {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*-----------------SECTION-HOVER-ANIM--------------------*/
/*------------------------SECTION-COMMON----------------*/
/*------------------------SECTION-HEADER----------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  margin-right: 78px;
  line-height: 1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-top: 12px;
}

.nav__item {
  color: #ffffff;
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

/*-----------------SECTION-MENU--------------------*/
.menu {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 17px;
}

.menu__item {
  display: block;
  margin-bottom: 55px;
}

.menu__item:last-child {
  margin-bottom: 0;
}

/*-----------------SECTION-CONTROLS--------------------*/
.controls {
  position: absolute;
  z-index: 20;
  right: 0;
  top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls__item {
  margin-right: 74px;
}

.controls__item:last-child {
  margin-right: 0;
}

/*-----------------SECTION-MAIN--------------------*/
.main {
  width: 100vw;
  height: 100vh;
  min-height: auto;
  overflow: hidden;
  position: relative;
  display: block;
  padding: 88px 0 100px 0;
}

.main .container {
  height: 100%;
}

.main__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 20;
}

.main__filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.main__filter-left {
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}

.main__filter-right {
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__title {
  color: #ffffff;
  font-size: 74px;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  margin-bottom: 10px;
}

.main__subtitle {
  color: #4ecdc4;
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 25px;
}

.main__hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.main__hr-line {
  width: 120px;
  height: 3px;
  background-color: #ffffff;
  margin-right: 13px;
}

.main__hr-point {
  width: 3px;
  height: 3px;
  background-color: #ffffff;
}

.main__list {
  position: relative;
}

.main__slide-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main__slide-text {
  color: #cccccc;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.main__prev, .main__next {
  position: absolute;
  top: 0;
  cursor: pointer;
}

.main__prev {
  left: 0;
}

.main__next {
  right: 0;
}

.main .footer {
  padding-left: 180px;
}

/*------------------------SECTION-FOOTER---------------------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.subscription, .privacy {
  color: #cccccc;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 8.6px;
}

/*-----------------SECTION-SOCIALS--------------------*/
.socials {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
}

.socials__item {
  display: block;
  margin-bottom: 45px;
}

.socials__item:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=main.css.map */