.sprite-menu2-a, .sprite-menu2, .sprite-vk-a, .sprite-vk, .sprite-cancel,
.sprite-tw-a, .sprite-tw, .sprite-catalog-a, .sprite-catalog, .sprite-construct-a,
.sprite-construct, .sprite-en-a, .sprite-en, .sprite-instagram-a, .sprite-instagram,
.sprite-menu-a, .sprite-menu, .sprite-pin-a, .sprite-pin, .sprite-mouse,
.sprite-close, .sprite-back-copy, .sprite-back {
  display: inline-block;
  background: url('../images/icons/sprite-controls.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.sprite-menu2-a {
  background-position: -5px -0px;
  width: 37px;
  height: 29px;
}

.sprite-menu2 {
  background-position: -5px -34px;
  width: 37px;
  height: 29px;
  &:hover {
    background-position: -5px -0px;
  }
}

.sprite-vk-a {
  background-position: -5px -68px;
  width: 31px;
  height: 19px;
}

.sprite-vk {
  background-position: -5px -92px;
  width: 31px;
  height: 19px;
  &:hover {
    background-position: -5px -68px;
  }
}

.sprite-cancel {
  background-position: -5px -116px;
  width: 30px;
  height: 30px;
}

.sprite-tw-a {
  background-position: -5px -151px;
  width: 30px;
  height: 24px;
}

.sprite-tw {
  background-position: -5px -180px;
  width: 30px;
  height: 24px;
  &:hover {
    background-position: -5px -151px;
  }
}

.sprite-catalog-a {
  background-position: -5px -209px;
  width: 29px;
  height: 31px;
}

.sprite-catalog {
  background-position: -5px -245px;
  width: 29px;
  height: 31px;
  &:hover {
    background-position: -5px -209px;
  }
}

.sprite-construct-a {
  background-position: -5px -281px;
  width: 29px;
  height: 28px;
}

.sprite-construct {
  background-position: -5px -314px;
  width: 29px;
  height: 28px;
  &:hover {
    background-position: -5px -281px;
  }
}

.sprite-en-a {
  background-position: -5px -347px;
  width: 29px;
  height: 17px;
}

.sprite-en {
  background-position: -5px -369px;
  width: 29px;
  height: 17px;

  &:hover {
    background-position: -5px -347px;
  }
}

.sprite-instagram-a {
  background-position: -5px -391px;
  width: 29px;
  height: 29px;
}

.sprite-instagram {
  background-position: -5px -425px;
  width: 29px;
  height: 29px;
  &:hover {
    background-position: -5px -391px;
  }
}

.sprite-menu-a {
  background-position: -5px -459px;
  width: 29px;
  height: 23px;
}

.sprite-menu {
  background-position: -5px -487px;
  width: 29px;
  height: 23px;

  &:hover {
    background-position: -5px -459px;
  }
}

.sprite-pin-a {
  background-position: -5px -515px;
  width: 28px;
  height: 35px;
}

.sprite-pin {
  background-position: -5px -555px;
  width: 28px;
  height: 35px;
  &:hover {
    background-position: -5px -515px;
  }
}

.sprite-mouse {
  background-position: -5px -595px;
  width: 26px;
  height: 43px;
}

.sprite-close {
  background-position: -5px -643px;
  width: 20px;
  height: 20px;
}

.sprite-back-copy {
  background-position: -5px -668px;
  width: 12px;
  height: 22px;
}

.sprite-back {
  background-position: -22px -668px;
  width: 12px;
  height: 22px;
}