.breads {
  color: $Pastel-gray;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 8.6px;
  padding-top: 20px;
  margin-bottom: 90px;

  &_product {

    margin-bottom: 55px;
  }
}

.bread {
  &.selected {
    color: $bg;
  }
}