.breads {
  color: $Pastel-gray;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 8.6px;
  padding-top: 20px;
  margin-bottom: 70px;

  &_product {
    margin-bottom: 45px;
  }
}

.bread {
  &.selected {
    color: $bg;
  }
}