.controls {
  position: absolute;
  z-index: 20;
  right: 0;
  top: 17px;

  display: flex;

  &__item {
    margin-right: 74px;
    display: inline-block;
    &:last-child {
      margin-right: 0;
    }

    &-svg {
      width: 34px;
      height: 34px;
      fill: $Medium-turquoise;
    }
  }
}