.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.subscription, .privacy {
  color: $Pastel-gray;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 8.6px;
}
