.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &_abs {
    padding-top: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
    display: block;
  }

  &_3 {
    padding: 50px 0 90px 0;
    display: block;
    .container {
      position: relative;
    }
    .menu {
      top: 0;
    }
    .controls {
      top: 0;
    }
  }

  &_product {
    padding: 50px 0;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .menu {
      position: static;
    }
    .controls {
      position: static;
    }
  }


  &__logo {
    color: $bg;
    font-size: 70px;
    font-weight: 700;
    margin-right: 78px;
    line-height: 1;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 12px;

  &__item {
    color: $bg;
    margin-right: 50px;
    transition: .3s;

    &:hover {
      color: #00ffed;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}