.product {
  padding: 65px 0 90px 0;

  /* left */
  &__left {
    @include col;
    @include size(12);

    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &__img {
    width: 100%;
  }
  /* END left */

  /* right */
  &__right {
    @include col;
    @include size(12);
  }

  &__title {
    color: $Taupe;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__chars {
    margin-bottom: 20px;
  }

  &__app {
  }

  &__add {
    color: $Medium-turquoise;
    font-size: 18px;
    font-weight: 700;
    transition: .3s;

    &-svg {
      width: 34px;
      fill: $Medium-turquoise;
      margin-left: 15px;
      transition: .3s;
    }

    &:hover {
      color: #00ffed;
      svg {
        fill: #00ffed;
      }
    }
  }
  /* END right */

  &__desc {
    @include col;
    @include size(24);
    margin-top: 55px;
  }
}

.chars {
  padding-right: 60px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba($Ash-grey, .5);
}
.char {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    color: $Taupe;
  }

  &__line {
    background: url(/images/bg/line.png) 0 0 repeat-x;
    height: 1px;
    flex-grow: 1;
    margin: 0 10px 5px;
  }

  &__val,&__link {
    flex-basis: 200px;
  }

  &__val {
    color: $Dark-jungle-green;
    font-weight: 700;
  }

  &__link {
    color: $Medium-turquoise;
    font-weight: 700;
    transition: .3s;
    &:hover {
      color: #00ffed;
    }
  }

}

.app {
  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__text {
    color: $Taupe;
  }

  &__more {
    color: $Manatee;
    font-size: 14px;
    letter-spacing: 2.8px;
    position: relative;

    &.open {
      .app__more-svg {
        transform: rotate(90deg);
      }
    }

    &-svg {
      position: absolute;
      left: calc(100% + 30px);
      top: 50%;
      margin-top: -5.5px;
      width: 11px;
      fill: $Medium-turquoise;
      transform: rotate(-90deg);
      transition: .3s;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__list-hidden {
    width: 100%;
    display: none;
  }
  &__item {
    display: flex;
    align-items: center;
    flex-basis: calc(100%/3);
    color: $Taupe;
    font-size: 14px;
    font-weight: 700;
    padding-right: 30px;
    margin-bottom: 30px;
  }
  &__img {
    margin-right: 17px;
  }
}
